# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv
env/
venv/
ENV/

# Data & Vector Store
data/chroma_db/
temp_vaults/
*.zip

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
